
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "oswald", sans-serif;
}

body {
  background: #FFFFFF;
}
.search {
  width: 300px;  /* Largura fixa */
  height: 40px;  /* Altura fixa */
  padding: 10px; /* Espaçamento interno */
  font-size: 16px;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  font-size: 45px;
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-style: normal;;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header input {
  padding: 5px;
}

.perfil {
  cursor: pointer;
  font-size: 15pt;
  transition-duration: 0.4s;
}
.perfil:hover {
  color: #a1a1a1;
  font-size: 23px;
}

/* CONTAINER */
.container {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

/* SEÇÕES */
section {
  margin-bottom: 30px;
  padding-top: 20px;
  background-color: #D9D9D9;
  border-radius:10px;
  padding: 14px;
}

section h2 {
  margin-bottom: 10px;
}

/* GRID DE LIVROS */
.grid {
  display: grid;
  gap: 35px;
  justify-content: center;
  padding: 10px;
}
/* Desktop */
.grid.livros {
  grid-template-columns: repeat(5, 1fr);
  
}

/* LIVRO */
.livro {
  background-color: #FFFFFF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.livro img {
  width: 200px;
  height: 300px;
  border-radius: 4px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #fff;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
}


.footer {
  font-family: Oswald, sans-serif;
  font-size: 17pt;
}

/* Classes perfil */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.usuario-img {
  width: 150px;
  height: 150px;
  background: #bbb;
}

.sidebar button {
  padding: 12px;
  border: none;
  background: #ddd;
  cursor: pointer;
  font-size: 16px;
  max-width: max-content;
}

.grafico {
  width: 180px;
  height: 180px;
  border-radius: 50%;

  background: conic-gradient(
    hotpink 0% 40%,
    red 40% 60%,
    blue 60% 80%,
    turquoise 80% 100%
  );
}


/* 📱 MOBILE */
@media (max-width: 799px) {
  .grid.livros {
    grid-template-columns: repeat(2, 1fr);
  }

  .header {
    flex-direction: column;
    gap: 10px;
  }
}

/* 📱 TABLET */
@media (min-width: 800px) and (max-width: 1279px) {
  .grid.livros {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 💻 DESKTOP */
@media (min-width: 1280px) {
  .grid.livros {
    grid-template-columns: repeat(5, 1fr);
  }
}

